 h1 {
    display: grid;
    justify-content: center;
    font-size: 150px;
 }

 h2 {
    display: grid;
    justify-content: center;
    font-size: 100px;
 }

 .Nadpisy:hover,
.Nadpisy:focus {
    background: #e5e2e2;
    color: rgb(18, 14, 14);
    font-style: italic;
}

.Nadpisy {
    color: rgb(4, 3, 3);
    border-color: #fff;
}